/* styles.css - Basic stylesheet for a data visualization website */

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: url('images/bkg2.jpg') center center / cover no-repeat fixed;
    margin: 0;
    padding: 0;
}

header {
    background: #1C1712;
    color: #1C1712;
    padding: 1.5rem 2rem;
    text-align: center;
    letter-spacing: 1px;
}

.main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background: #858585;
    border-radius: 8px;
    opacity: 0.85;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td {
    padding-left: 5%
}

h1 {
    color: #1C1712;
    margin-top: 0;
    text-align: center;
}

.h2, h3 {
    color: #1C1712;
    margin-top: 0;
}

p {
    color: #f3f3f3;
    line-height: 1.6;
    font-style: bold;
    font-weight: 600;
}

.viz {
    margin: 2rem 0;
    text-align: center;
    background-color: #858585;
    border-radius: 5%;
}

.caption {
    font-size: 0.9rem;
    color: #222;
    margin-top: -0.25rem;
    margin-bottom: 1rem;

}


